# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
cover/
dart_tool/
doc/api/
.fvscode/
.gradle/
gradlew
gradlew.bat
.idea/
.packages
.pub-cache/
.pub/
/build/
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/Flutter/Generated.xcconfig
/ios/Flutter/ephemeralmodules.txt
/ios/Flutter/app.flx
/ios/Flutter/app.zip
/ios/Flutter/flutter_assets/
/ios/Flutter/flutter_export_environment.sh
/ios/ServiceDefinitions.json
/ios/Runner/GeneratedPluginRegistrant.*
/macos/Flutter/GeneratedPluginRegistrant.swift
Generated.xcconfig
Generated.xcconfig
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
**/xcshareddata/WorkspaceSettings.xcsettings
/windows/flutter/generated_plugins.cmake
/windows/flutter/generated_plugin_cmake_includes.cmake
/windows/flutter/generated_plugins.cmake
/windows/flutter/generated_plugin_cmake_includes.cmake
/linux/flutter/generated_plugins.cmake
/linux/flutter/generated_plugin_cmake_includes.cmake
/web/plugins/url_strategy/url_strategy.js
/lib/firebase_options.dart
.env
*.pem
